<LINK REL=StyleSheet HREF="/css/listapersonajes.css" TYPE="text/css" MEDIA=screen>
<form action="/personajes/list1"></form>
<div id="contenedor">
{{#each lista}}
<img src="/img/sprites/{{imagen}}" id="imagen">
<p>{{Nombre}}</p>
<p>{{edad}}</p>
<p>{{estatura}}</p>
<p>{{Descripcion}}</p>
{{/each}}
</div>